body{
    font-family: 'Original Surfer', cursive;
    background-color: rgb(163, 208, 245);
}

.heading_div{
    border: 2px red dotted;
    background: white;
    color: red;
}

.heading_div img{
    height: 100px;
}

.main_div{
    padding: 10px;
    margin-top: 15px;
    border: white 5px solid;
    background: rgb(163, 208, 245); 
}

.main_div label{
    background: white;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}

#camera{
border: 2px solid white;
height: 300px;
width: 400px;
box-shadow: 5px 5px 18px white;    
}

.main_div button{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
}

.snapshot_div{
    border: 2px solid black;
    margin-top: 15px;
    background: rgb(163, 208, 245); 
    padding: 30px;
}

#result{
    width:290px;
    height: 300px;
    padding-top:15px;
    padding-bottom: 15px;
    box-shadow: 4px 3px 20px black;
}

#captured_image{
    width: 290px;
    height:290px;
    padding-bottom: 30px;
}

.snapshot_div button{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px red solid;
}



.object_name_display_div img{
    width:100px;
    position: left;
}

.object_name_display_div{
 font-size: 23px;
 background-color: wheat;
 width: 100%;
 text-align: center;
}


